#output {
	width: 50%;
	height: 200px;
}

body{
    background-color: #272823;
    margin-top: 8px;
}

#task{
    background-color: #fff;
}

#runButton{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    float: right;
    font-size: 14px;
    border-radius: 6px;
}
#runButtonWrapper{
    padding-top: 10px;
    padding-right: 10px;
}

#triangle{
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 12px solid white;
    margin-left: 2px;
}

/* Display the points */
.points {
    top: 0px;
    padding:5px;
    display: inline-block;
    cursor: pointer;
    color: grey;
    float: right;
    padding-left: 20px;
}
.menubar{
    width: 20px;
    height: 3px;
    background-color: grey;
    margin: 3px 0;
}

/* Popup container */
.popup {
    position: absolute;
    top: 60px;
    left: 44%;
    padding:5px;
    display: inline-block;
    cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
    visibility: hidden;
    width: 300px;
    background-color: #4CAF50;
    color: #eee;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}
#header{
    height: 33px;
    border-bottom: 1px solid grey;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
    visibility: visible;
    /*-webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;*/
}
.CodeMirror{
    height: 400px;
    padding-top: 10px;
    padding-left: 5px;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {opacity: 1;}
    to {opacity: 0;}
}

@keyframes fadeout {
    from {opacity: 1;}
    to {opacity: 0;}
}
#runCode{
    background-color: black;
    float: right;
    height: 400px;
    width: 10%
}
/* The console container element */
#console {
  position: absolute;
  width: 90%;
  height: 400px;
  background-color:black;
}
/* The inner console element. */
.jqconsole {
    padding: 10px;
}
/* The cursor. */
.jqconsole-cursor {
    background-color: gray;
}
/* The cursor color when the console looses focus. */
.jqconsole-blurred .jqconsole-cursor {
    background-color: #666;
}
/* The current prompt text color */
.jqconsole-prompt {
    color: #0d0;
}
/* The command history */
.jqconsole-old-prompt {
    color: #0b0;
    font-weight: normal;
}
/* The text color when in input mode. */
.jqconsole-input {
    color: #dd0;
}
/* Previously entered input. */
.jqconsole-old-input {
    color: #bb0;
    font-weight: normal;
}
/* The text color of the output. */
.jqconsole-output {
    color: white;
}
