#output {
	width: 50%;
	height: 200px;
}

body{
    background-color: #272823;
    margin-top: 8px;
}

#task{
    background-color: #272823;
    color: white;
}

#runButton{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    float: right;
    font-size: 14px;
    border-radius: 6px;
}
#runButtonWrapper{
    padding-top: 10px;
    padding-right: 5px;
}

#triangle{
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 12px solid white;
    margin-left: 2px;
}

/* Display the points */
.points {
    top: 0px;
    padding:5px;
    display: inline-block;
    cursor: pointer;
    color: grey;
    float: right;
    padding-left: 20px;
}

.menubar{
    width: 20px;
    height: 3px;
    background-color: grey;
    margin: 3px 0;
}

#sidenavHeader{
    height: 50px;
    font-size: 25px;
    color: white;
    padding-top: 20px;
    padding-left: 8px;
    padding-bottom: 0px;
    height: 40px;
    border-bottom: 1px solid grey;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

.strategyPoints{
    color: white;
    padding-top: 20px;
    width: 40px;
    margin-right: 0px;
    float: right;
    line-height: 40px;
    padding-right: 5px;
}
.strategyWrapper{
    width: 100%;
    float: right;
}

/* Popup container */
.popup {
    position: absolute;
    top: 100px;
    left: 44%;
    padding: 5px;
    display: inline-block;
    cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
    visibility: hidden;
    width: 300px;
    background-color: #4CAF50;
    color: #eee;
    text-align: center;
    border-radius: 6px;
    padding: 10px 10px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}
#header{
    height: 33px;
    border-bottom: 1px solid grey;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
    visibility: visible;
    /*-webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;*/
}
.CodeMirror{
    height: 400px;
    padding-top: 10px;
    padding-left: 5px;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {opacity: 1;}
    to {opacity: 0;}
}

@keyframes fadeout {
    from {opacity: 1;}
    to {opacity: 0;}
}

/* The console container element */
#console {
  margin-top: 50px;
  position: absolute;
  width: 100%;
  height: 270px;
  background-color:black;
}
/* The inner console element. */
.jqconsole {
    padding: 10px;
}
/* The cursor. */
.jqconsole-cursor {
    background-color: gray;
}
/* The cursor color when the console looses focus. */
.jqconsole-blurred .jqconsole-cursor {
    background-color: #666;
}
/* The current prompt text color */
.jqconsole-prompt {
    color: #0d0;
}
/* The command history */
.jqconsole-old-prompt {
    color: #0b0;
    font-weight: normal;
}
/* The text color when in input mode. */
.jqconsole-input {
    color: #dd0;
}
/* Previously entered input. */
.jqconsole-old-input {
    color: #bb0;
    font-weight: normal;
}
/* The text color of the output. */
.jqconsole-output {
    color: white;
}


/*The Sidebar*/

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}


.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 25px;
    margin-left: 50px;
}
.navElement {
    font-size: 20px;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 3px;
    text-decoration: none;
    display: inline-block;
    float: left;
    font-size: 16px;
    border-radius: 1px;
    width: 185px;
    margin-top: 20px;
    margin-left: 10px;
    text-align: left;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;

}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
